@import '../variables';

.button {
    display: inline-block;
    background-color: $brown;
    border-radius: 30px;
    padding: 10px 20px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
    border: 1px solid transparent;
    @include noselect();
  
    &,
    span {
      color: #fff;
    }
  
    span,
    path,
    svg {
      transition: all $duration ease-in-out;
    }
  
    &:hover {
      background-color: darken($brown, 8%);
    }
  
    &:active {
      background-color: darken($brown, 12%);
      transform: translateY(1px);
    }
  
    &--circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      min-width: 32px;
      padding: 0;
      border-width: 2px;
      @media (max-width: 768px) {
        width: 25px;
        height: 25px;
        min-width: 25px;
      }
    }
  
    &--black {
      background-color: $black;
  
      &:hover,
      &:active {
        background-color: lighten($color: $black, $amount: 10);
      }
    }
  
    &--outline {
      background-color: #fff;
      border-color: $brown;
      &,
      span {
        color: $brown;
      }
  
      svg {
        path {
          fill: $brown;
        }
      }
  
      &:hover {
        background-color: $brown;
  
        &,
        span {
          color: #fff;
        }
  
        svg {
          path {
            fill: #fff;
          }
        }
      }
  
      &:active {
        background-color: darken($brown, 8%);
      }
    }

    &__delimiter {
        width: 1px;
        height: 25px;
        background-color: rgba(255, 255, 255, 0.25);
        margin-left: 14px;
        margin-right: 14px;
        @media (max-width: 768px) {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
  
    &--add {      
        display: flex;
        align-items: center;
        line-height: 23px;
        padding-left: 30px;
        padding-right: 30px;
        @media (max-width: 768px) {
          line-height: 18px;
          padding-left: 20px;
          padding-right: 20px;
        }

      svg {
        margin-left: 5px;
      }
  
      span {
        font-weight: 600;
        font-size: 16px;
      }
    }
  
    &--cart {
      display: flex;
      align-items: center;
      line-height: 23px;
      padding: 12px 25px;
      @media (max-width: 768px) {
        padding: 5px 10px;
      }
  
      svg {
        margin-right: 8px;
        margin-bottom: 1px;
      }
  
      span {
        font-weight: 600;
        font-size: 16px;
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }

.pay-btn {
    font-size: 16px;
    font-weight: 600;
    width: 200px;
    padding: 14px;
    @media (max-width: 768px) {
      padding: 5px 5px;
      width: 150px;
      font-size: 14px;
    }
}

.go-back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  @media (max-width: 768px) {
    padding: 5px 5px;
    width: 150px;
    margin-right: 10px;
  }
  
  border-color: darken($color: $gray-line, $amount: 10);

  span {
    color: darken($color: $gray-line, $amount: 20);
    font-weight: 600;
    font-size: 16px;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &:hover {
    background-color: darken($color: $gray-line, $amount: 90);
    border-color: darken($color: $gray-line, $amount: 90);

    span {
      color: $gray-line;
    }

    svg {
      path {
        fill: darken($color: $gray-line, $amount: 90);
      }
    }
  }

  svg {
    margin-right: 12px;
    path {
      fill: transparent;
      stroke-width: 2;
    }
  }
}