@import '../variables';

.coffee-block {
    //width: 24%;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #e8eaec;
    border-radius: 5px;
    padding: 20px 0;
    transition: all linear 0.3s;
    //margin-right: 3%;

    @media (max-width: 1090px) {
      margin-bottom: 10px;
    }
  
    @media (max-width: 768px) {
      margin-bottom: 5px;
    }

     &:hover {
      box-shadow: 0 0 5px 0 #000;
     }
  
    &__image {
      width: 50%;
      @media (max-width: 768px) {
        width: 30%;;
      }
    }
  
    &__title {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 10px;
      margin-top: 10px;
      @media (max-width: 768px) {
        font-size: 20px;
      }
    }

    &__ingredients {
        font-size: 16px;
      } 
  
    &__bottom {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  
    &__price {
      font-weight: 600;
      font-size: 20px;
      margin-top: 10px;
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
  }